<h1>Démo i18n WellRailed, en Français (fr)</h1>
<p>Bonjour !</p>

<div class="flag">
  <span class="stripe" id="blue" ></span><span class="stripe" id="white"></span><span class="stripe" id="red"></span>
</div>

<br />
<br />
<br />
<br />
<br />

<%= link_to 'Revenir aux langues bizarres', :controller => "home", :action => "step1", :locale => "en" %>

